/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
   margin: 0;
   padding: 0;
   /* the borders and paddings are no longer added to box's total width and height */
   box-sizing: border-box;
}

body {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.7;
   color: #777;
   padding: 30px;
}

.header {
   /* vh = % of the viewport height */
   height: 95vh;
   /* two background images, first the gradiant, starting from left top to right bottom */
   background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)),
      url('../img/hero.jpg');
   background-size: cover;
   background-position: top;
   position: relative;
   /* cuts the element transforming in polygon */
   clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)
}

.logo-box {
   position: absolute;
   top: 40px;
   left: 40px;
}

.logo {
   height: 35px;
}