*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   // This defines what 1rem is
   font-size: 62.5%;
}

body {
   /* the borders and paddings are no longer added to box's total width and height */
   box-sizing: border-box;
}